---
import { useStoryblokApi } from "@storyblok/astro";
import Layout from "../../layouts/Layout.astro";
import Post from "../../storyblok/Post.astro";

export async function getStaticPaths() {
  const sbApi = useStoryblokApi();

  const { data } = await sbApi.get("cdn/stories/", {
    // content_type: "posts",
    version: import.meta.env.DEV ? "draft" : "published",
  });

  const stories = Object.values(data.stories);

  return stories.map((story) => {
    return {
      params: { slug: story.slug },
    };
  });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/blog/${slug}`, {
  resolve_relations: "post.category",
  version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;
console.log(story);
---

<Layout title=`${story.name} - jakerobins.com` `>
  <main
    style=`--color-category: hsl(${story.content.category.content.hue}, 19%, 32%);`
  >
    <Post story={story} />
  </main>
</Layout>
