---
import { useStoryblokApi } from "@storyblok/astro";
import Layout from "../../layouts/Layout.astro";
import Post from "../../storyblok/Post.astro";
import type { PostStoryblok } from "../../../component-types-sb";
import {
  mergeHeadConfig,
  type HeadConfig,
} from "../../components/Head/headConfig";
import { siteConfig } from "../../config/config";

export async function getStaticPaths() {
  const sbApi = useStoryblokApi();

  const { data } = await sbApi.get("cdn/stories/", {
    content_type: "post",
    version: import.meta.env.DEV ? "draft" : "published",
  });

  const stories = Object.values(data.stories) as PostStoryblok[];

  return stories.map((story) => {
    return {
      params: { slug: story.slug },
    };
  });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/blog/${slug}`, {
  resolve_relations: "post.category",
  version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;

// Facebook blocks a-us so we need to replace it with a2-us
// Big tech for the win
// a2-us is an alternative url for the same host provided by
// Storyblok support
const hostReplacer = (filename: string): string => {
  return filename.replace("a-us.storyblok.com", "a2-us.storyblok.com");
};

const headConfig: Partial<HeadConfig> = {
  title: story.name + " - " + siteConfig.title,
  description: story.content.description,
  social: {
    title: story.name,
    description: story.content.description,
    url: siteConfig.host + "/blog/" + story.slug,
    twitter: {
      card: "summary_large_image",
      site: "@jakerobins",
      creator: "@jakerobins",
      image: story.content.cover.filename + "/1200x600/filters:format(webp)",
      alt: story.content.cover.alt,
    },
    openGraph: {
      url: siteConfig.host + "/blog/" + story.slug,
      type: "article",
      article: [
        {
          type: "published_time",
          value: story.published_at || story.created_at,
        },
        {
          type: "author",
          value: "Jake Robins",
        },
        {
          type: "section",
          value: story.content.category.name,
        },
        {
          type: "tag",
          value: story.content.category.name,
        },
      ],
      image: {
        url:
          "http" +
          hostReplacer(story.content.cover.filename).slice(5) +
          "/m/1200x630/filters:format(jpeg)",
        secure_url:
          hostReplacer(story.content.cover.filename) +
          "/m/1200x630/filters:format(jpeg)",
        alt: story.content.cover.alt,
        type: "image/jpeg",
        width: 1200,
        height: 630,
      },
    },
  },
};
---

<Layout headConfig={mergeHeadConfig(headConfig)}>
  <main
    style=`--color-category: hsl(${story.content.category.content.hue}, 50%, 30%);`
  >
    <Post story={story} />
  </main>
</Layout>
