---
import { useStoryblokApi } from "@storyblok/astro";
import Layout from "../../layouts/Layout.astro";
import Post from "../../storyblok/Post.astro";
import type { PostStoryblok } from "../../../component-types-sb";
import {
  mergeHeadConfig,
  type HeadConfig,
} from "../../components/Head/headConfig";

export async function getStaticPaths() {
  const sbApi = useStoryblokApi();

  const { data } = await sbApi.get("cdn/stories/", {
    // content_type: "posts",
    version: import.meta.env.DEV ? "draft" : "published",
  });

  const stories = Object.values(data.stories) as PostStoryblok[];

  return stories.map((story) => {
    return {
      params: { slug: story.slug },
    };
  });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/blog/${slug}`, {
  resolve_relations: "post.category",
  version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;

console.log(story);

const headConfig: Partial<HeadConfig> = {
  title: story.name + " - jakerobins.com",
  description: story.content.description,
  social: {
    title: story.name,
    description: story.content.description,
    url: "https://jakerobins.com/blog/" + story.slug,
    twitter: {
      card: "summary_large_image",
      site: "@jakerobins",
      creator: "@jakerobins",
      image: story.content.cover.filename,
      alt: story.content.cover.alt,
    },
    openGraph: {
      url: "https://jakerobins.com/blog/" + story.slug,
      type: "article",
      article: [
        {
          type: "published_time",
          value: story.published_at || story.created_at,
        },
        {
          type: "author",
          value: "Jake Robins",
        },
        {
          type: "section",
          value: story.content.category.name,
        },
        {
          type: "tag",
          value: story.content.category.name,
        },
      ],
      image: {
        url: story.content.cover.filename,
        alt: story.content.cover.alt,
        type: "image/webp",
      },
    },
  },
};
---

<Layout headConfig={mergeHeadConfig(headConfig)}>
  <main
    style=`--color-category: hsl(${story.content.category.content.hue}, 19%, 32%);`
  >
    <Post story={story} />
  </main>
</Layout>
