/* bar hover effect  */
.bar-hover-link {
  position: relative;

  &:hover::before,
  &:focus::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    width: 1rem;
    height: 100%;
  }

  &:hover::before {
    background: var(--bar-hover-link-color, var(--color-category));
  }

  &:focus-visible::before {
    background: var(--bar-hover-link-color, var(--color-category));
  }
}
