:root {
  --color-background: theme(colors.light);
  --color-text: theme(colors.dark);
  --color-text-inverse: theme(colors.light);
  --color-purple-heavy: theme(colors.dark-purple);
  --color-purple-light: theme(colors.purple);
  --color-green-heavy: theme(colors.dark-green);
  --color-green-light: theme(colors.green);
  --color-red-heavy: theme(colors.dark-red);
  --color-red-light: theme(colors.red);
  --color-gray-100: theme(colors.gray-100);
  --color-gray-200: theme(colors.gray-200);
  --color-gray-300: theme(colors.gray-300);
  --color-gray-400: theme(colors.gray-400);
  --color-gray-500: theme(colors.gray-500);
  --color-gray-600: theme(colors.gray-600);
  --color-gray-700: theme(colors.gray-700);
  --color-gray-800: theme(colors.gray-800);
  --color-gray-900: theme(colors.gray-900);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: theme(fontFamily.base);
  font-size: var(--size-step-00);
  --wrapper-max-width: 640px;
}

/* Copy */
p,
li,
blockquote,
small {
  max-width: 65ch;
}

/* Headings */
h1,
h2,
h3,
h4 {
  max-width: 24ch;
  font-weight: var(--font-medium);
  font-family: theme(fontFamily.heading);
  letter-spacing: -0.15rem;
}

h4 {
  font-size: var(--size-step-1);
}

h3 {
  font-size: var(--size-step-2);
}

h2 {
  font-size: var(--size-step-3);
}

h1 {
  font-size: var(--size-step-4);
}
/* 

/* Links */
a {
  text-decoration-thickness: 0.1em;

  &:link {
    color: var(--color-green-heavy);
  }

  &:visited {
    color: var(--color-purple-heavy);
  }

  &:focus-visible,
  &:hover {
    text-decoration: none;
    color: var(--color-text-inverse);
  }

  &:focus-visible {
    outline-width: 0px;
    background-color: var(--color-green-light);
  }

  &:hover {
    background-color: var(--color-red-light);
  }
}

figure:has(blockquote) {
  padding-inline-start: 2rem;
  padding-inline-end: 1rem;
  border-left: 0.5rem solid var(--color-category);
  font-style: italic;
  color: var(--color-category);
  font-size: 1.2rem;

  & > figcaption {
    font-size: 1rem;
    font-style: normal;
  }
}

pre.astro-code {
  padding: 1rem;
  font-size: 0.9rem;
}

p,
ul,
ol {
  & code {
    /* fallback for no color-mix support */
    background-color: hsl(0, 0%, 90%);
    background: color-mix(in srgb, var(--color-category) 20%, transparent);
    padding-inline: 0.5rem;
    padding-block: 1px;
    font-size: 0.95rem;
    border-radius: 4px;
  }
}

/* Tables */
table {
  width: 100%;

  & th {
    text-align: left;
    font-weight: var(--font-medium);
  }

  & tr > * + * {
    padding-inline-start: 0.5rem;
    white-space: nowrap;
    vertical-align: top;
  }

  & caption {
    text-align: left;
    font-size: var(--size-step-1);
    font-weight: var(--font-medium);
    border-bottom: 3px solid var(--color-category, var(--color-text));
  }
}

/* Other */
details {
  padding: 0.5rem 1rem;
  background-color: var(--color-gray-100);

  & summary {
    font-style: italic;
    cursor: pointer;
  }
}
