---
import { storyblokEditable, renderRichText } from "@storyblok/astro";

const { story } = Astro.props;
console.log(story.content);
const content = renderRichText(story.content.content);
---

<article {...storyblokEditable(story)} class="[ flow ]">
  <h1>{story.name}</h1>
  <img src={story.content.cover.filename} alt={story.content.cover.alt} />
  <Fragment set:html={content} />
</article>
