---
import Layout from "../layouts/Layout.astro";
import FeaturedPost from "../components/FeaturedPost.astro";
---

<Layout title="Home - jakerobins.com">
  <header class="[ flow ]">
    <h1 class="[ uppercase ]">jakerobins.com</h1>
    <p>
      Scattered thoughts about space exploration, web development, and life in
      Mexico.
    </p>
  </header>
  <main class="">
    <FeaturedPost />
  </main>
</Layout>
