---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - jakerobins.com">
  <header class="[ wrapper ]">
    <h1>jakerobins.com</h1>
  </header>
  <main class="[ wrapper ] [ flow ]">
    <div>1</div>
    <div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div>
  </main>
  <footer class="[ wrapper ]">Footer</footer>
</Layout>
