/* Prevents normal anchor state styling */
.clear-link-styles {
  text-decoration: none;
  color: unset;

  &:link {
    text-decoration: none;
    color: unset;
  }

  &:hover {
    text-decoration: none;
    color: unset;
    background-color: unset;
  }
  &:visited {
    text-decoration: none;
    color: unset;
    background-color: unset;
  }
  &:focus {
    text-decoration: none;
    color: unset;
    background-color: unset;
  }
  &:focus-visible {
    text-decoration: none;
    color: unset;
    background-color: unset;
  }
}
