---
import { format } from "date-fns";

interface Props {
  publicationDate: string;
}

const publicationDate = format(Astro.props.publicationDate, "PPp");
---

<address>
  <p>Jake Robins</p>
  <time datetime={Astro.props.publicationDate}>{publicationDate}</time>
</address>
