---
import { format } from "date-fns";

interface Props {
  publicationDate: string;
}

const publicationDate = format(Astro.props.publicationDate, "PP");
---

<address>
  <p>
    Jake Robins - <time datetime={Astro.props.publicationDate}
      >{publicationDate}</time>
  </p>
</address>
