---
import { format } from "date-fns";

interface Props {
  publicationDate: string;
  categoryName: string;
}

const publicationDate = format(Astro.props.publicationDate, "PP");
---

<address>
  <p>
    Jake Robins - <time datetime={Astro.props.publicationDate}
      >{publicationDate}</time
    >
    <span class="[ category-tag invert-text ]">{Astro.props.categoryName}</span>
  </p>
</address>
