---
import Email from "./_svg/Email.astro";
import LinkedIn from "./_svg/LinkedIn.astro";
import Bluesky from "./_svg/Bluesky.astro";
---

<footer class="[ flow-inline ]">
  <a href="www.linkedin.com/in/jakerobins"><LinkedIn size="45" /></a>
  <a href="mailto:me@jakerobins.com"><Email size="45" /></a>
  <a href="https://bsky.app/profile/jakerobins.com"><Bluesky size="45" /></a>
</footer>
