---
import { siteConfig } from "../config/config";

interface Props {}
---

<footer class="[ flow ]" aria-labelledby="footer-heading">
  <h2 id="footer-heading">Contact/About</h2>
  <ul>
    <li><a href={siteConfig.socials.github}>Github</a></li>
    <li><a href={siteConfig.socials.linkedIn}>LinkedIn</a></li>
    <li><a href={siteConfig.socials.email}>Email</a></li>
    <li><a href={siteConfig.socials.bsky}>Bluesky</a></li>
    <li><a href="/rss">RSS</a></li>
    <li><a href="/sitemap-index.xml">Sitemap</a></li>
  </ul>
</footer>
