---
interface Props {
  src: string;
  alt: string;
  credit: string;
  title: string;
}
---

<header class="[ post-header ] [ full-bleed ]">
  <figure>
    <img src={Astro.props.src} alt={Astro.props.alt} />
    <figcaption class="[ inset-top-right gutter-2xs category-tag invert-text ]">
      {Astro.props.credit}
    </figcaption>
  </figure>
  <h1 class="[ wrapper category-tag invert-text ]">{Astro.props.title}</h1>
</header>
