---

---

<header class="[ full-bleed ]">
  <figure>
    <img src={Astro.props.src} alt={Astro.props.alt} />
    <figcaption class="[ inset-top-right ]">{Astro.props.credit}</figcaption>
  </figure>
  <h1 class="[ inset-bottom-left ]">{Astro.props.title}</h1>
</header>
