.post-header {
  background-color: var(--color-category);
}

.post-header > h1 {
  margin-block-start: 0;
}

.post-header figcaption {
  font-size: 90%;
}

.post-header img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: 0 0;
}

@media (min-width: 768px) {
  .post-header > h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: fit-content;
  }
}
