.post-header {
  background-color: var(--color-category);
}

.post-header * {
  color: var(--color-text-inverse);
  background-color: var(--color-category);
}

.post-header > h1 {
  padding-block: 0.6rem;
  margin-top: 0;
  padding-inline: var(--gutter);
}

.post-header figcaption {
  padding-block: 0.6rem;
  padding-inline: 1ch;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .post-header > h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-inline: 1ch;
    max-width: initial;
  }
}
