:root {
  --color-background: theme(colors.light);
  --color-text: theme(colors.dark);
  --color-text-inverse: theme(colors.light);
  --color-purple-heavy: theme(colors.dark-purple);
  --color-purple-light: theme(colors.purple);
  --color-green-heavy: theme(colors.dark-green);
  --color-green-light: theme(colors.green);
  --color-red-heavy: theme(colors.dark-red);
  --color-red-light: theme(colors.red);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: theme(colors.dark);
    --color-text: theme(colors.light);
    --color-purple-heavy: theme(colors.purple);
    --color-purple-light: theme(colors.dark-purple);
    --color-green-heavy: theme(colors.green);
    --color-green-light: theme(colors.dark-green);
    --color-red-heavy: theme(colors.red);
    --color-red-light: theme(colors.dark-red);
  }
} */

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: theme(fontFamily.base);
  font-size: theme(fontSize.step-00);
  letter-spacing: 0.25px;
  --wrapper-max-width: 660px;
}

/* Copy */
p,
li,
blockquote,
small {
  max-width: 65ch;
}

/* Headings */
h1,
h2,
h3 {
  max-width: 24ch;
  font-weight: theme(fontWeight.medium);
  font-family: theme(fontFamily.heading);
  letter-spacing: 0.75px;
}

h4 {
  font-size: theme(fontSize.step-1);
}

h3 {
  font-size: theme(fontSize.step-2);
}

h2 {
  font-size: theme(fontSize.step-3);
}

h1 {
  font-size: theme(fontSize.step-4);
}

@media (max-width: 500px) {
  h4 {
    font-size: theme(fontSize.step-0);
  }

  h3 {
    font-size: theme(fontSize.step-1);
  }

  h2 {
    font-size: theme(fontSize.step-2);
  }

  h1 {
    font-size: theme(fontSize.step-3);
  }
}

/* Links */
a {
  position: relative;
  text-decoration-thickness: 0.1em;
  padding-inline: 2px;
  --link-background-color: #0000;

  &::before {
    content: "";
    background: var(--link-background-color);
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    width: calc(100% + 0.4rem);
    height: calc(100% + 0.4rem);
    z-index: -1;
  }
}

a:link {
  color: var(--color-green-heavy);
}

a:visited {
  color: var(--color-purple-heavy);
}

a:focus-visible {
  /* outline: none; */
  outline-width: 0px;
  text-decoration: none;
  color: var(--color-text-inverse);
  --link-background-color: var(--color-green-light);
}

a:hover {
  text-decoration: none;
  color: var(--color-text-inverse);
  --link-background-color: var(--color-red-light);
}
