---
import Footer from "../components/Footer.astro";
import { defaultHeadConfig } from "../components/Head/headConfig";
import type { HeadConfig } from "../components/Head/headConfig";
import Head from "../components/Head/Head.astro";
import "../css/styles.css";
import "../css/cube.css";
import GoogleAnalytics from "./GoogleAnalytics.astro";

interface Props {
  headConfig?: HeadConfig;
}

const headConfig: HeadConfig = Astro.props.headConfig || defaultHeadConfig;

const ga4id = import.meta.env.PUBLIC_GA4_ID;
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/omo5gfi.css" />
    <GoogleAnalytics ga4id={ga4id} />
    <slot name="title" />
    <Head {...headConfig} />
  </head>
  <body class="[ flow-space-m wrapper flow main-expand ]">
    <slot />
    <Footer />
  </body>
</html>
